.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
  height: 8vh;
  @media (max-width: 600px) {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      max-width: 30px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    img {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      @media (max-width: 600px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
