.nav {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .list {
    background-color: #10756e77;
    border-radius: 30px;
    li {
      padding: 13px 15px;
      border-radius: 50%;
    }
  }
  button {
    display: block;
    background-color: #fff;
    padding: 13px 15px;
    border-radius: 50%;
  }
}

.active {
  background-color: #fff;
  border-radius: 50%;
  svg {
    stroke: aqua;
  }
}
